/*
!/beginners
!/intermediate
!/advanced
!/preset-beginner.txt
!/preset-intermediate.txt
!/playlist.txt
!/.gitignore

/beginners/*
!/beginners/*.pgn

/intermediate/*
!/intermediate/*.pgn

/advanced/*
!/advanced/*.pgn
